@import url("./vars.css");

.HostNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 4.4rem;
  background-color: white;
}

.HostNavBar__left__ask-superhost-button {
  cursor: pointer;
  background-color: white;
  height: 4.4rem;
  font-size: var(--body-fs);
  font-weight: var(--medium-fw);
  padding: 0 1.6rem;
  border-radius: 4.4rem;
  border: 1.5px solid #e1e1e1;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  margin-right: 3.2rem;
}

.HostNavBar__left__become-superhost-button {
  cursor: pointer;
  height: 4.4rem;
  font-size: var(--body-fs);
  font-weight: var(--medium-fw);
  padding: 0 1.6rem;
  border-radius: 0.8rem;
  border: none;
  background-color: var(--primary-color);
  color: white;
}
