@import url("./vars.css");

.HostBanner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 38rem;
  background-image: url("../assets/become-host.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1.2rem;
  margin-top: 4.4rem;
}

.HostBanner__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  padding: var(--horizontal-margin);
  color: white;
}

.HostBanner__content__title {
  font-size: 4.4rem;
  font-weight: var(--semibold-fw);
  line-height: 4.4rem;
}

.HostBanner__content__description {
  font-size: var(--body-fs);
  font-weight: var(--medium-fw);
  margin-top: 1.6rem;
}

.HostBanner__content__info-button {
  width: 18rem;
  cursor: pointer;
  height: 4.4rem;
  border-radius: 0.8rem;
  border: none;
  background-color: white;
  font-size: var(--body-fs);
  font-weight: var(--medium-fw);
}
